<aside class="aside" id="html">
  <h1 class="title">Browser</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>문서(DOM)</h2>
      <ul class="content-toggle" id="html-intro">
        <li class="content"><a href="/page/html/01-document/01-browser-env.html">Browser</a></li>
        <li class="content"><a href="/page/html/01-document/02-dom-search.html">DOM 턈색</a></li>
        <li class="content"><a href="/page/html/01-document/03-dom-query.html">DOM query</a></li>
        <li class="content"><a href="/page/html/01-document/04-node-property.html">node property</a></li>
        <li class="content"><a href="/page/html/01-document/05-dom-attribute.html">DOM attribute</a></li>
        <li class="content"><a href="/page/html/01-document/06-dom-change.html">문서수정</a></li>
        <li class="content"><a href="/page/html/01-document/07-style-class.html">style, class</a></li>
        <li class="content"><a href="/page/html/01-document/08-elem-size-scroll.html">요소 크기,위치</a></li>
        <li class="content"><a href="/page/html/01-document/09-browser-size.html">브라우저 창 사이즈</a></li>
        <li class="content"><a href="/page/html/01-document/10-position.html">좌표</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>이벤트 기초</h2>
      <ul class="content-toggle" id="html-event">
        <li class="content"><a href="/page/html/02-event/01-browser-event.html">브라우저 이벤트</a></li>
        <li class="content"><a href="/page/html/02-event/02-event-bubbling.html">버블링</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>UI 이벤트</h2>
      <ul class="content-toggle" id="html-ui">
        <li class="content"><a href="/page/html/03-UI-event/01-mouse-event.html">Mouse Event</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>form</h2>
      <ul class="content-toggle" id="html-form">
        <!-- <li class="content"><a href="/page/javascript/03-object/02-method-this.html">method,this</a></li>-->
      </ul>
    </li>
    <li class="sub-content"><h2>문서와 리소스 로딩</h2>
      <ul class="content-toggle" id="html-resource-loading">
<!--        <li class="content"><a href="/page/html/03-object/01-object.html">객체</a></li>-->
      </ul>
    </li>
    <li class="sub-content"><h2>기타</h2>
      <ul class="content-toggle" id="html-etc">
        <!--        <li class="content"><a href="/page/javascript/03-object/02-method-this.html">method,this</a></li>-->
      </ul>
    </li>
  </ul>
</aside>