<aside class="aside" id="javascript">
  <h1 class="title">JS Core</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>자바스크립트 개요</h2>
      <ul class="content-toggle" id="js-intro">
        <li class="content"><a href="/page/js/01-intro/01-start.html">About JavaScript</a></li>
        <li class="content"><a href="/page/js/01-intro/02-docs-env.html">매뉴얼과 명세서 등</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>자바스크립트 기본</h2>
      <ul class="content-toggle" id="js-basic">
        <li class="content"><a href="/page/js/02-basic/01-basic.html">기본 사항</a></li>
        <li class="content"><a href="/page/js/02-basic/02-data-type.html">자료형</a></li>
        <li class="content"><a href="/page/js/02-basic/03-basic-object.html">객체</a></li>
        <li class="content"><a href="/page/js/02-basic/04-type-transform.html">형변환</a></li>
        <li class="content"><a href="/page/js/02-basic/05-handle-string.html">문자 다루기</a></li>
        <li class="content"><a href="/page/js/02-basic/06-handle-array.html">배열 다루기</a></li>
        <li class="content"><a href="/page/js/02-basic/07-iterable.html">Symbol.iterator</a></li>
        <li class="content"><a href="/page/js/02-basic/08-map-set.html">map, set</a></li>
        <li class="content"><a href="/page/js/02-basic/09-destructuring-assignment.html">구조분해</a></li>
        <li class="content"><a href="/page/js/02-basic/10-date.html">Date</a></li>
        <li class="content"><a href="/page/js/02-basic/11-json.html">JSON</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>함수 심화학습</h2>
      <ul class="content-toggle" id="js-adv">
        <li class="content"><a href="/page/js/03-adv/01-recursion-stack.html">recursion, stack</a></li>
        <li class="content"><a href="/page/js/03-adv/02-rest-param-spread-syntax.html">나머지 매개변수</a></li>
        <li class="content"><a href="/page/js/03-adv/03-lexical.html">렉시컬 환경</a></li>
        <li class="content"><a href="/page/js/03-adv/04-setTimeout-Interval.html">setTimeout/Interval</a></li>
        <li class="content"><a href="/page/js/03-adv/05-call-apply.html">call,apply</a></li>
        <li class="content"><a href="/page/js/03-adv/06-bind.html">bind</a></li>
        <li class="content"><a href="/page/js/03-adv/07-arrow-func.html">arrow func</a></li>
        <li class="content"><a href="/page/js/03-adv/08-try-catch.html">try..catch</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>callback, promise, &nbsp;&nbsp;async</h2>
      <ul class="content-toggle" id="js-promise">
        <li class="content"><a href="/page/js/04-callback/01-callback.html">callback</a></li>
        <li class="content"><a href="/page/js/04-callback/02-promise.html">promise</a></li>
        <li class="content"><a href="/page/js/04-callback/03-promise-chaining.html">promise chaining</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>연습</h2>
      <ul class="content-toggle" id="js-exercises">
        <li class="content"><a href="/page/js/99-exercises/01-todo-list.html">todo list</a></li>
      </ul>
    </li>
  </ul>
</aside>