<aside class="aside" id="spring">
<h1 class="title">SPRING</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>환경설정</h2>
      <ul class="content-toggle" id="spring-setting">
        <li class="content"><a href="/page/spring/00-setting/01-about-spring-boot.html">About spring boot</a></li>
        <li class="content"><a href="/page/spring/00-setting/02-sts-setting.html">STS설정</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>UI</h2>
      <ul class="content-toggle" id="spring-basics">
        <li class="content"><a href="/page/spring/01-basics/01-urlMapping-JPA-UI.html">url mapping, JPA,
          <li class="content"><a href="/page/spring/01-basics/99-cors-config.html">CORS Config</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>